.components{
    /* margin-top: 0px; */
/*     
    display: flex;
    flex-direction: column;
    top: 200px; */
    /* margin-top:85px;display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    
}