/* src/components/style.css */
.navContainer{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 50px;
    font-family: 'Gotham-Book', sans-serif;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 111;
    top: 35px;
    width: 100%;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    /* margin-bottom: 0px; */
  
  }
  .navbar {
      display: flex;
      justify-content:space-between;
      align-items: center;
      padding: 10px 20px;
      width: 100%;
      max-width: 1200px;
    }
    
    
    .nav-links {
      list-style: none;
      display: flex;
      gap: 20px;
  
    }
   .become h2{
        font-size: 18px;
        text-decoration: none;
        color: #CFCFCF;

    }
    
    .nav-links li a{
      text-decoration: none;
      color:#CFCFCF;
      font-size: 14px;
      font-weight: 500;
    }
    .nav-links li:hover{
    background-color: red;
    border-radius: 6px;

    } 
    .nav-links li{
      /* background-color: red; */
      padding: 7px;
      transition-duration: 1s;
      } 
    .nav-links li .active{
        color:#CFCFCF;
    }
    .active{
      background-color: red;
      padding: 7px;
      border-radius: 5px;
    }
   

    
    
   